@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.obs{
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    background-color: var(--preto);
    font-size: 20px;
    line-height: 30px;
    font-family: var(--font-principal);
}

:root{
    --font-principal: "Kanit", serif;
    --preto: #0D0D0D;
    --cinza-escuro: #262626;
    --ciza-medio:#8C8C8C;
    --cinza-claro:#BFBFBF;
    --branco: #f9f9f9;

}

/* REGISTRO */


#register__div{
    background-color: var(--cinza-escuro);
    width: 300px;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 50%;
    height: 400px;
    border-radius: 3px;
}

#register__title{
    color: var(--branco);
    font-size: 50px;
    padding: 0.1em 0 0.8em 0;
    font-family: var(--font-principal);
}

#register__form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#register__form input{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
}

#register__form button{
    margin: auto;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--branco);
    background-color: transparent;
    color: var(--branco);
    transition: 0.3s ease;
    margin-left: 50px;
}

#register__form button:hover{
    border: 1px solid orange;
    background-color: orange;
    color: var(--branco);
}

#register__form p{
    margin-left: 14px;
    color: var(--branco);
    font-family: var(--font-principal);
}
#register__form p strong{
    color: orange;
}


/* LOGIN */




